.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 1.25em;
  background-color: var(--card_background);
  color: var(--text_2);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.article:hover {
  background-color: var(--hover);
  color: var(--text_1);
}

.article:hover .read_more {
  transform: scale(1.1);
  color: var(--text_1);
}

.article:hover .timestamp,
.article:hover .article-text {
  color: inherit;
}

.timestamp {
  font-size: 0.6em;
  color: var(--text_3);
}

.article-title {
  margin: 0;
  word-wrap: break-word;
  font-size: 1.2em;
}

.author {
  font-size: 0.6em;
  color: var(--text_3);
}

.article-text {
  max-width: 100%;
  word-wrap: break-word;
  font-size: 0.65em;
  color: var(--text_3);
}

.article-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  gap: 0.6em;
  width: 100%;
}

.read_more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 0.6em;
  color: var(--text_1);
  transition: all 0.3s ease-in-out;
}
