.navbar {
  background-color: var(--nav);
  /* max-width: 70ch; */
  padding: 1em;
}

.nav-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.8em;
  font-weight: 500;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
}

.nav-list a {
  color: var(--text_bright);
}
