.Default {
  --background_1: #001c30;
  --text_1: #f6f6f6;
  --text_2: #001b2e;
  --text_3: #707070;
  --nav: #f6f6f6;
  --sidebar: #001c30;
  --card_background: #f6f6f6;
  --tag_background: #cd3c00;
  --button: #003b5e;
  --hover: #0071af;
  --highlight: #d2008f;
  --searchbar: rgba(246, 246, 246, 0.1);
  --searchbar_focus: rgba(246, 246, 246, 0.2);
}

.Matte {
  --background_1: #44475a;
  --text_1: #bdc3c7;
  --text_2: #bdc3c7;
  --text_3: #d3c680;
  --nav: #44475a;
  --sidebar: #44475a;
  --card_background: hsl(232, 14%, 35%);
  --tag_background: #846560;
  --button: #555673;
  --hover: #777798;
  --highlight: #866c83;
  --searchbar: rgba(189, 195, 199, 0.1);
  --searchbar_focus: rgba(189, 195, 199, 0.2);
}

.Dark {
  --background_1: #1d1f21;
  --text_1: #caced8;
  --text_2: #caced8;
  --text_3: #6a8799;
  --nav: #1d1f21;
  --sidebar: #1d1f21;
  --card_background: hsl(210, 6%, 15%);
  --tag_background: #48513b;
  --button: #292d3e;
  --hover: #ac6d74;
  --highlight: #ac6d74;
  --searchbar: rgba(202, 206, 216, 0.1);
  --searchbar_focus: rgba(202, 206, 216, 0.2);
}

.Bright {
  --background_1: #f4f4f4;
  --text_1: #3e3e3e;
  --text_2: #3e3e3e;
  --text_3: #6a8799;
  --nav: #f4f4f4;
  --sidebar: #f4f4f4;
  --card_background: #ffffff;
  --tag_background: #f7d4cf;
  --button: #f8eec7;
  --hover: #f1d007;
  --highlight: #f1d007;
  --searchbar: rgba(62, 62, 62, 0.1);
  --searchbar_focus: rgba(62, 62, 62, 0.2);
}

.app-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 100vh;
  max-width: 100vw;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background-color: var(--background_1);
  color: var(--text_1);
}

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 70ch;
  min-width: 70ch;
  min-height: 100%;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

.side-container {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-width: 70ch;
  padding: 3em 3em 3em 0;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  height: 100vh;
}

.sidebar_toggle {
  display: none;
}

.fetching {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-radius: 4px;
  min-height: 66vh;
  background-color: var(--card_background);
}

@media (max-width: 800px) {
  .app-container {
    grid-template-columns: 1fr;
    width: 100vw;
  }

  .main-container {
    padding: 0;
    min-width: 0;
    width: 95%;
  }

  .side-container {
    position: fixed;
    top: unset;
    right: unset;
    bottom: -100%;
    padding: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .side-container.active {
    bottom: -0%;
  }

  .sidebar_toggle {
    display: block;
    height: 5rem;
    color: var(--tag_background);
    position: fixed;
    top: 87%;
    right: 50%;
    z-index: 10;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .sidebar_toggle.active {
    top: 0;
    transform: rotate(180deg);
  }

  .fetching {
    min-height: 75vh;
  }
}
