.article_page {
  max-width: 70ch;
  margin: auto;
  padding-top: 1rem;
}

.article_container {
  padding: 1em;
  background-color: var(--background_bright);
  color: var(--text_dark);
  border-radius: 4px;
}

.article_title {
  margin-top: 1rem;
}

.tag-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.tag-list-item {
  border-radius: 2px;
  font-size: 0.6em;
  background-color: var(--tag_background);
  color: var(--text_bright);
  padding: 0 1rem;
}

.article-content {
  font-size: 0.8em;
}

@media (max-width: 800px) {
  .article_container {
    padding: 0.5em;
  }
}
